@import url('https://fonts.googleapis.com/css?family=Cinzel|PT+Sans:400,700');


body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.3;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1em;
  margin-bottom: 22px;
}

a {
  text-decoration: none;
  color: $ccolor1;
  transition: all 0.3s ease;
  
  &:hover {
    color: $ccolor2;
  }
}