$color1: #262216;
$color2: #49412c;
$color3: #97743a;
$color4: #b0a18e;
$ccolor1: #0a9c8a;
$ccolor2: #040b33;

$text-color: $color1;
$base-font-size: 16px;
$base-font-family: 'PT Sans', sans-serif;
$base-font-weight: normal;
