$color1: #262216;
$color2: #49412c;
$color3: #97743a;
$color4: #b0a18e;

$text-color: $color1;
$base-font-size: 16px;
$base-font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
$base-font-weight: normal;
