@import '../common';
@import '../components/menu';
@import '../components/progress-bar';
@import '../components/timeline';
@import '../components/social-icons';

@media only screen and (min-width: 48em) {

}

.header-container {
  background: $color3;
  background: linear-gradient(to bottom, $color3 40%, lighten($color3, 10%) 100%);
  padding: 1em 0 1em 0;
  height: 16em;

  &:before {
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 18em;
    width: 50%;
    background: url('/images/code.png') 0 0 no-repeat;
    border-right: lighten($color3, 15%) solid 1px;
    z-index: 1;
  }

  .logo-image {
    border-radius: 4em;
    background-color: $color1;
    margin-top: .5em;
  }
  .logo-border {
    margin: auto;
    width: 9em;
    height: 9em;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8em;
  }

  .header-container-logo {
    z-index: 11;
  }

  .header-container-about {
    padding-left: 50%;

    .about-text {
      margin: -1em 2em 0 3em;
      color: #fff;

      .about-name {
        font-family: 'Cinzel', serif;
        font-size: 2.5em;
        font-weight: bold;
        margin: 0;

        .first-letter {
          font-size: 1.3em;
        }
      }
      .about-title {
        font-weight: bold;
        font-size: 1.2em;
        margin: 0;
        color: $ccolor2;
      }
      .quote {
        font-style: italic;
        margin: .2em 0 0 0;
      }
    }
  }
}

.main-container {
  background-color: #ededed;
}

.title-box {
  h2 {
    text-transform: uppercase;
    margin: 1.5em 0;
    font-size: 2em;
  }
}

#aboutme {
  padding: 8em 0 ;

  .aboutme-image {
    width: 9em;
    height: 9em;
    border-radius: 5em;
    margin-top: .5em;
    margin-right: .5em;
  }
  .aboutme-border {
    margin-left: auto;
    width: 10em;
    height: 10em;
    background: rgb(255, 255, 255);
    border-radius: 10em;
  }

  .aboutme-pic {
    margin-top: 1em;
  }

  .title-box {
    h3 {
      font-size: 1.5em;
      color: $ccolor1;
    }
  }

  .aboutme-text {
    font-size: 1.3em;
  }
}

#myskills {
  background-color: #fff;
  padding-bottom: 3em;

  .row-skills {
    .end-xs > div {
      margin-left: auto;
    }
  }
}

.skill-item {
  position: relative;
  margin-bottom: 1em;

  .progress-bar {
    margin-right: 4em;
  }
  .level {
    position: absolute;
    top: 0.2em;
    right: 0;
    color: #969696;;
  }
}

#experience {
  padding-bottom: 3em;
}

#contact {
  background-color: #fff;
  padding-bottom: 5em;
}

footer {
  background-color: #ededed;
  padding: 2em 0;
}