@import '../common';
@import '../components/menu';
@import '../components/progress-bar';
@import '../components/timeline';
@import '../components/social-icons';

@media only screen and (min-width: 48em) {

}

.header-container {
  background: $color3;
  background: linear-gradient(to bottom, $color3 40%, lighten($color3, 10%) 100%);
  padding: 1em 0 1em 0;
  height: 16em;

  &:before {
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 18em;
    width: 50%;
    background: url('/images/code.png') 0 0 no-repeat;
    border-right: lighten($color3, 15%) solid 1px;
    z-index: 1;
  }

  .logo-image {
    border-radius: 4em;
    background-color: $color1;
    margin-top: .5em;
  }
  .logo-border {
    margin: auto;
    width: 9em;
    height: 9em;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8em;
  }

  .header-container-logo {
    z-index: 11;
  }

  .header-container-about {
    padding-left: 50%;

    .about-text {
      margin: -1em 2em 0 3em;
      color: #fff;

      .about-name {
        font-size: 2em;
      }
      .about-title {

      }
    }
  }
}

.main-container {
  background-color: #ededed;
}

#aboutme {
  .aboutme-image {
    width: 8em;
    height: 8em;
    border-radius: 5em;
    margin-top: .3em;
    margin-right: .3em;
  }
  .aboutme-border {
    margin-left: auto;
    width: 8.6em;
    height: 8.6em;
    background: rgba(38, 34, 22, 0.6);
    border-radius: 8em;
  }
}

#myskills {
  background-color: #fff;

  .row-skills {
    .end-xs > div {
      margin-left: auto;
    }
  }
}

.skill-item {
  position: relative;
  margin-bottom: 1em;

  .progress-bar {
    margin-right: 4em;
  }
  .level {
    position: absolute;
    top: 0.2em;
    right: 0;
    font: 24px/26px 'Montserrat', sans-serif;
    color: #969696;;
  }
}

#contact {
  background-color: #fff;
}

footer {
  background-color: #ededed;
  padding: 2em 0;
}